.git-href {
  display: flex;
  justify-content: center;
  align-items: center;
}

.git-href > span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.docs-github-logo {
  margin-right: 5px;
}
